Repository elastic/elasticsearch-java, pull requests merged in 2024-02, with the labels that each got.

#737 Example realworldapp backend
  examples/realworld-app/README.md
  examples/realworld-app/build.gradle
  examples/realworld-app/docker-compose.yaml
  examples/realworld-app/gradle/wrapper/gradle-wrapper.jar
  examples/realworld-app/gradle/wrapper/gradle-wrapper.properties
  examples/realworld-app/gradlew
  examples/realworld-app/gradlew.bat
  examples/realworld-app/rw-database/build.gradle
  examples/realworld-app/rw-database/src/main/java/realworld/constant/Constants.java
  examples/realworld-app/rw-database/src/main/java/realworld/db/ArticleService.java
  examples/realworld-app/rw-database/src/main/java/realworld/db/CommentService.java
  examples/realworld-app/rw-database/src/main/java/realworld/db/ElasticClient.java
  examples/realworld-app/rw-database/src/main/java/realworld/db/UserService.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/article/Article.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/article/ArticleCreationDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/article/ArticleDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/article/ArticleForListDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/article/ArticleUpdateDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/article/ArticlesDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/article/TagsDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/comment/Comment.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/comment/CommentCreationDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/comment/CommentDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/comment/CommentForListDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/comment/CommentsDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/exception/ResourceAlreadyExistsException.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/exception/ResourceNotFoundException.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/exception/UnauthorizedException.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/user/Author.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/user/LoginDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/user/Profile.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/user/RegisterDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/user/User.java
  examples/realworld-app/rw-database/src/main/java/realworld/document/user/UserDTO.java
  examples/realworld-app/rw-database/src/main/java/realworld/utils/ArticleIdPair.java
  examples/realworld-app/rw-database/src/main/java/realworld/utils/UserIdPair.java
  examples/realworld-app/rw-database/src/main/java/realworld/utils/Utility.java
  examples/realworld-app/rw-database/src/test/java/realworld/db/ElasticClientTest.java
  examples/realworld-app/rw-database/src/test/java/realworld/db/UserServiceTest.java
  examples/realworld-app/rw-database/src/test/resources/test.properties
  examples/realworld-app/rw-logo.png
  examples/realworld-app/rw-rest/build.gradle
  examples/realworld-app/rw-rest/src/main/java/realworld/rest/ArticleController.java
  examples/realworld-app/rw-rest/src/main/java/realworld/rest/ProfileController.java
  examples/realworld-app/rw-rest/src/main/java/realworld/rest/TagsController.java
  examples/realworld-app/rw-rest/src/main/java/realworld/rest/UserController.java
  examples/realworld-app/rw-rest/src/main/java/realworld/rest/error/RestError.java
  examples/realworld-app/rw-rest/src/main/java/realworld/rest/error/RestExceptionHandler.java
  examples/realworld-app/rw-server/build.gradle
  examples/realworld-app/rw-server/src/main/java/realworld/SpringBootApp.java
  examples/realworld-app/rw-server/src/main/java/realworld/config/DefaultProperties.java
  examples/realworld-app/rw-server/src/main/resources/application.properties
  examples/realworld-app/settings.gradle
Labels: >documentation

#745 Fixes from pr 2412
  java-client/src/main/java/co/elastic/clients/elasticsearch/ElasticsearchAsyncClient.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/ElasticsearchClient.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/_types/analysis/IcuTokenizer.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/_types/analysis/TokenFilterDefinition.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/_types/analysis/TokenFilterDefinitionBuilders.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/core/FieldCapsRequest.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/doc-files/api-spec.html
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarity.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityBm25.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityBuilders.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityDfi.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityDfr.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityIb.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityLmd.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityLmj.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityScriptedTfidf.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityVariant.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/ingest/AttachmentProcessor.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/nodes/info/NodeInfoDiscover.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/nodes/info/NodeInfoPath.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/nodes/info/NodeInfoSettings.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/nodes/info/NodeInfoSettingsCluster.java
Labels: >api-spec, backport 7.17, backport 8.13

#746 Fixes from pr 2412 backport 8.13
  java-client/src/main/java/co/elastic/clients/elasticsearch/ElasticsearchAsyncClient.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/ElasticsearchClient.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/core/FieldCapsRequest.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/doc-files/api-spec.html
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarity.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityBm25.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityBuilders.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityDfi.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityDfr.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityIb.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityLmd.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityLmj.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityScriptedTfidf.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/indices/SettingsSimilarityVariant.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/ingest/AttachmentProcessor.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/nodes/info/NodeInfoDiscover.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/nodes/info/NodeInfoPath.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/nodes/info/NodeInfoSettings.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/nodes/info/NodeInfoSettingsCluster.java
Labels: >api-spec

#747 Fixes from pr 2412 backport 7.17
  java-client/src/main/java/co/elastic/clients/elasticsearch/ElasticsearchAsyncClient.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/ElasticsearchClient.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/_types/query_dsl/GeoDistanceQuery.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/core/UpdateByQueryRequest.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/doc-files/api-spec.html
  java-client/src/main/java/co/elastic/clients/elasticsearch/ingest/AttachmentProcessor.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/ingest/Processor.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/ingest/ProcessorBuilders.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/ingest/ScriptProcessor.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/nodes/info/NodeInfoDiscover.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/nodes/info/NodeInfoPath.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/nodes/info/NodeInfoSettings.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/nodes/info/NodeInfoSettingsCluster.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/security/FieldRule.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/security/FieldRuleBuilders.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/security/PutRoleMappingRequest.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/security/RoleMapping.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/security/RoleTemplate.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/security/TemplateFormat.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/security/get_role/Role.java
  java-client/src/main/java/co/elastic/clients/elasticsearch/security/get_role/RoleTemplate.java
Labels: >api-spec

#749 [DOCS] Adds compatibility matrix to docs and README
  README.md
  docs/introduction.asciidoc
Labels: >documentation, backport 8.12, backport 8.13
